.env
.coverage
.pytest_cache
.tags
*.egg-info
*.pyc
*.pyo
*.swp
.eggs/
build/
dist/
doc/build/
doc/skybrush-server-docs-*.zip
flight_logs/
htmlcov/
private/
tmp/
.venv/
.vscode/
__pycache__/
skybrush.cfg
