-i https://pypi.python.org/simple
-e git+ssh://git@git.collmot.com/collmot/flockwave-gps.git@23f17672309e1878d58a3dbc70623281dd61ae42#egg=flockwave-gps
-e git+ssh://git@git.collmot.com/collmot/flockwave-spec.git@4659ab9990c74d67c07282d65d58f4b3d090444d#egg=flockwave-spec
aiofiles==0.4.0
async-generator==1.10
attrs==19.1.0
bidict==0.18.3
bitstring==3.1.6
blinker==1.4
click==7.0
colorama==0.4.1
colorlog==4.0.2
enum-compat==0.0.2
future==0.17.1
h11==0.9.0
h2==3.1.1
hexdump==3.3
hpack==3.0.0
hypercorn[trio]==0.8.4
hyperframe==5.2.0
idna==2.8
ifaddr==0.1.6
ipaddress==1.0.22
itsdangerous==1.1.0
jinja2==2.10.1
jsonpointer==2.0
jsonschema==3.0.2
lxml==4.4.1
markupsafe==1.1.1
memoized==0.3
mido==1.2.9
multidict==4.5.2
netifaces==0.10.9
outcome==1.0.0
priority==1.3.0
pymavlink==2.3.8
pynmea2==1.15.0
pyrsistent==0.15.4
pyserial==3.4
python-baseconv==1.2.2
python-rtmidi==1.3.0
pytz==2019.2
quart-trio==0.4.0
quart==0.10.0
six==1.12.0
sniffio==1.1.0
sortedcontainers==2.1.0
toml==0.10.0
trio-util==0.1.0
trio==0.12.1
typing-extensions==3.7.4
wsproto==0.15.0
zeroconf==0.23.0
