<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Skybrush Server</title>

        <link href="style.css" rel="stylesheet">
    </head>
    <body>
      <div class="cover-page">
        <div class="cover-page-content">
          <h1>Skybrush Server</h1>
          <p>Server is up and running.</p>
          {%- if links %}
          <div class="button-bar">
            {%- for link in links %}
              <a href="{{ link.url }}" class="button">{{ link.title }}</a>
            {% endfor -%}
          </div>
          {% endif -%}
        </div>
      </div>
    </body>
</html>
