[Unit]
Description=CollMot-specific initialization tasks
After=local-fs.target
Before=raspberrypi-net-mods.service

[Service]
ExecStart=/opt/skybrush/boot/run-tasks-at-boot
Type=oneshot

[Install]
WantedBy=network.target
