Source: skybrush-server
Maintainer: Tamas Nepusz <tamas@collmot.com>
Build-Depends: debhelper (>= 9.20160709), python3, dh-exec, dh-virtualenv,
    python3-setuptools, python3-pip, python3-dev, python3-venv, libffi-dev,
    librtmidi-dev, python3-lxml
Standards-Version: 4.3.0
Section: contrib/python
Priority: optional

Package: skybrush-server
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.7, ${misc:Pre-Depends}
Depends: python3-lxml, ${shlibs:Depends}, ${misc:Depends}
Description: Skybrush server component.
 This package provides the server component of a Skybrush-based drone swarm.
 It can be installed on ground control stations and docking stations to provide
 status information of the swarm and the docking stations to connected Skybrush
 clients.
