[Unit]
Description=Flockwave server

[Service]
Type=simple
ExecStart=/usr/bin/flockwaved --log-style=plain
Restart=on-failure

# TODO: User=dock
WorkingDirectory=/
Environment=FLOCKWAVE_SETTINGS=/etc/flockwave/server/flockwaved.cfg

[Install]
WantedBy=multi-user.target
