[Unit]
Description=Skybrush server

[Service]
Type=simple
ExecStart=/usr/bin/skybrushd --log-style=plain
Restart=on-failure

# TODO: User=skybrush
WorkingDirectory=/
Environment=SKYBRUSH_SETTINGS=/etc/skybrush/server/skybrushd.cfg

[Install]
WantedBy=multi-user.target
