<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('debug.index') }}">
            <span data-feather="message-square"></span>
            Messages
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('debug.list_threads') }}">
            <span data-feather="git-merge"></span>
            Threads
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('debug.list_tasks') }}">
            <span data-feather="clipboard"></span>
            Tasks
        </a>
    </li>
</ul>
