{% extends "_layout.html.j2" %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('.list_extensions') }}">Extensions</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ extension.name }}</li>
  </ol>
</nav>

<div class="pb-3 px-3">

{% if extension.description %}
<p class="lead">{{ extension.description }}</p>
{% endif %}

<dl class="row">
  <dt class="col-sm-2">Status</dt>
  <dd class="col-sm-10">
    {% if extension.loaded %}
      <span class="text-success"><strong>loaded</strong></span>
    {% else %}
      <span class="text-danger">unloaded</span>
    {% endif %}
  </dd>

  {% if extension.dependencies %}
  <dt class="col-sm-2">Dependencies</dt>
  <dd class="col-sm-10">
    {% for dep in extension.dependencies %}
      <a href="{{ url_for('.show_extension_details', name=dep) }}">{{ dep }}</a>
      {{ "·" if not loop.last else "" }}
    {% endfor %}
  </dd>
  {% endif %}

  {% if extension.dependents %}
  <dt class="col-sm-2">Dependents</dt>
  <dd class="col-sm-10">
    {% for dep in extension.dependents %}
      <a href="{{ url_for('.show_extension_details', name=dep) }}">{{ dep }}</a>
      {{ "·" if not loop.last else "" }}
    {% endfor %}
  </dd>
  {% endif %}
</dl>

<form>
  <div class="form-group">
    <label for="configuration">Configuration</label>
    <div id="configuration" class="code-editor" style="height: 464px"></div>
  </div>
</form>

{% if extension.loaded and not extension.dependents %}
<button class="btn btn-danger sb-btn-unload" data-sb-extension-name="{{ extension.name }}">
  <span data-feather="trash-2"></span> Unload
</button>
{% endif %}

{% if not extension.loaded %}
<button class="btn btn-success sb-btn-load" data-sb-extension-name="{{ extension.name }}">
  <span data-feather="play"></span> Load
</button>
{% endif %}

</div>

{% endblock %}

{% block backmatter %}
<script type="text/javascript" src="static/js/ace-1.4.12.min.js"></script>
<script>
ace.config.setModuleUrl("ace/mode/json", "static/js/ace-mode-json-1.4.12.min.js");
ace.config.setModuleUrl("ace/mode/json_worker", "static/js/ace-worker-json-1.4.12.min.js");

var editor = ace.edit("configuration", {
  mode: "ace/mode/json",
  readOnly: true,
  showPrintMargin: false,
});
editor.session.setTabSize(2);
editor.session.setUseSoftTabs(true);

var config = {{ config | tojson(indent=2) }};
editor.setValue(JSON.stringify(config, null, 2), 1);
editor.focus();
</script>
<script type="module">
import ky from './static/js/ky-0.27.0.min.js';

async function load() {
  const { result, error } = await ky.post("{{ url_for('.load_extension', name=extension.name) }}").json();
  if (error !== undefined) {
    alert("Failed to load extension.");
    console.error(error);
  } else {
    window.location.reload();
  }
}

async function unload() {
  const { result, error } = await ky.post("{{ url_for('.unload_extension', name=extension.name) }}").json();
  if (error !== undefined) {
    alert("Failed to unload extension.");
    console.error(error);
  } else {
    window.location.reload();
  }
}

let buttons;

buttons = document.querySelectorAll(".sb-btn-unload");
for (let button of buttons) {
  button.addEventListener('click', unload);
}

buttons = document.querySelectorAll(".sb-btn-load");
for (let button of buttons) {
  button.addEventListener('click', load);
}
</script>
{% endblock %}
