<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }} &mdash; Skybrush Server</title>

        <link href="static/css/bootstrap-5.0.2.custom.min.css" rel="stylesheet">

        {% block frontmatter %}{% endblock %}
    </head>
    <body>

        <main class="container" role="main">
            {% block body %}{% endblock %}
        </main>

        <!-- ########################################################## -->

        <script type="text/javascript" src="static/js/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap-5.0.2.bundle.min.js"></script>

        {% block backmatter %}{% endblock %}
    </body>
</html>
