<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url_for('.index') }}">Skybrush Server</a>

    <span class="navbar-text">{{ title }}</span>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
    data-toggle="collapse" data-target="#sidebar-menu"
    aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    </li>
  </ul>
</nav>
