{% macro inline_list(tags) -%}
    {% for tag in tags %}
        {% if tag == "experimental" %}
            <span class="badge badge-warning">{{ tag }}</span>
        {% elif tag == "restart requested" %}
            <span class="badge badge-warning">{{ tag }}</span>
        {% elif tag == "pro" %}
            <span class="badge badge-primary">{{ tag }}</span>
        {% else %}
            <span class="badge badge-secondary">{{ tag }}</span>
        {% endif %}
    {% endfor %}
{%- endmacro %}
