{% extends "_layout.html.j2" %}

{% import "_tags.html.j2" as tags %}

{% block body %}
<table class="table table-hover table-striped table-sm mb-0"">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for extension in extensions %}
        <tr style="cursor: pointer; {{ "" if true or extension.loaded else "opacity: 0.5" }}"
            onclick="window.location.href='{{ url_for('.show_extension_details', name=extension.name) }}'">
            <td class="align-baseline text-right" style="width: 24px">
                {% if extension.loaded %}
                <span class="text-success" data-feather="check"></span>
                {% else %}
                <span class="text-danger" data-feather="x"></span>
                {% endif %}
            </td>
            <td class="align-baseline">
                <pre class="mb-0">{{ prefix }}{{ extension.name }}</pre>
            </td>
            <td class="align-baseline">
                {{ extension.description }}
                {{ tags.inline_list(extension.tags) }}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
