{% extends "_layout.html.j2" %}

{% block body %}
<table class="table table-striped table-sm mb-0">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
{% for prefix, task in tasks %}
        <tr>
            <td><pre class="mb-0">{{ prefix }}{{ task.name|e }}</pre></td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><b>{{ tasks|length }}</b> active tasks(s).</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
