# Heroku-specific configuration overrides

from flockwave.server.config import EXTENSIONS

# Enable the fake_uavs extension even if it is disabled in the default
# config, and use a different center
if "fake_uavs" in EXTENSIONS:
    EXTENSIONS["fake_uavs"]["enabled"] = True
    EXTENSIONS["fake_uavs"].update(
        delay=0.04,
        center={
            # 360world.eu teto
            "lat": 47.483717,
            "lon": 19.015107,
            "agl": 20
        }
    )

# Disable a few extensions that are not supported on Heroku
for ext in "flockctrl gps smpte_timecode ssdp tcp udp".split():
    EXTENSIONS.pop(ext, None)
